.maxindented {
    max-width: 1600px;
    height: 400px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    color: $opposite-text-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    @include breakpoint(mobile-max) {
        background-size: cover;
        background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
            url(../images/mobile/mobbunner.jpg);

        @include breakpoint(mobile-max-2x) {
            & {
                background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                    url(../images/mobile/mobbunner@2x.jpg);
            }
        }
    }

    @include breakpoint(tablet-onle) {
        background-size: cover;

        & {
            background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../images/tablet/tabbunner.jpg);
        }

        @include breakpoint(tablet-onle-2x) {
            & {
                background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                    url(../images/tablet/tabbunner@2x.jpg);
            }
        }
    }

    @include breakpoint(desktop) {
        background-size: cover;
        background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
            url(../images/desktop/deskbunner.jpg);
        height: 600px;
        margin-bottom: 94px;

        @include breakpoint(desktop-bunner-2x) {
            & {
                height: 600px;
                background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                    url(../images/desktop/deskbunner@2x.jpg);
            }
        }
    }

    &__border {
        border-top: 1px solid #ececec;
    }
}

.back {
    max-width: 480px;
    //  height: 400px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    @include breakpoint(tablet) {
        max-width: 360px;
    }

    @include breakpoint(desktop) {
        max-width: 696px;
        // height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.back__order-title {

    @include uppercase (0 auto 30px auto);
    text-align: center;
    @include font-size(0.06em, 900, 1.625rem, 1.615);

    @include breakpoint(desktop) {
        @include font-size(0.06em, 900, 2.75rem, 1.364);
    }
}