@mixin flex($justify: center, $align: center, $width: 44px, $height: 44px, $border: 50%) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    width: $width;
    height: $height;
    border-radius: $border;
}

//   @include flex();

@mixin absolute($top: auto,
    $right: auto,
    $bottom: auto,
    $left: auto,
    $transf: translate(-50%, -50%)) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: $transf;
}

//    @include absolute(auto, auto, 0%, 50%, translate(-50%, 0%));

@mixin font-size($ls: 0.04em, $fw: 400, $fs: 14px, $lh: 1.714) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: $ls;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

//  @include font-size(0.03em, 700, 14px, 1.142);

@mixin font-logo($ls: 0.03em, $fw: 700, $fs: 26px, $lh: 1.92) {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    letter-spacing: $ls;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

// @include font-logo();

@mixin uppercase($m: auto auto auto auto) {
    margin: $m;
    text-transform: uppercase;
}

// @include uppercase ();

@mixin indent($m: auto auto auto auto, $p: auto auto auto auto) {
    margin: $m;
    padding: $p;
}

//  @include indent(0 auto 0 auto, $p: 0 15px 0 15px);