  // color
  $primary-text-color: #212121;
  $primary-background-color: #ffffff;
  $accent-color: #2196f3;
  $button-accent-color: #188ce8;
  $background-footer-color: #2f303a;
  $color-studio: #000;
  $secondary-background: #f5f4fa;
  $subtitle-text-color: #757575;
  $opposite-text-color: #ffffff;
  $sprite-color: #afb1b8;
  $border-color: #eeeeee;
  $color-form-input: rgba(255, 255, 255, 0.6);
  $color-contact-link: rgba(255, 255, 255, 0.6);
  $color-border-input: rgba(255, 255, 255, 0.3);
  $background-soclink: rgba(255, 255, 255, 0.1);



  // shadow
  $shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  $shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  $shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  $shadow-button-modal: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // time
  $time-function: cubic-bezier(0.4, 0, 0.2, 1);
  $time: 250ms;
  // gradient
  $linear-gradient: (to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))